@font-face {
  font-family: "qlassik_boldregular";
  src: url("./fonts/Qlassik_TB-webfont.woff") format("woff"),
    url("./fonts/QlassikBold_TB.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

.App {
  text-align: center;
}

.App-intro {
  font-size: large;
}

body {
  font-family: "qlassik_boldregular", sans-serif;
}
